body{
		font-family: sans-serif;
    background: url('images/webdesign.jpg') no-repeat top center ;
    background-size: cover;
    position: fixed;

}

.main-image{
		border: solid 4px black;
		border-radius: 10%;
}

h1{
		background-color: #e2e2e2;
		padding: 5px;
}

.section-title{
		text-transform: capitalize;
}

.experience{

}


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}

footer {
  font-size: 1.3em;
  max-width: 1200px;
  margin: 40px auto;
}
