body{
		font-family: sans-serif;
    background: url('images/webdesign.jpg') no-repeat top center ;
    background-size: cover;
    position: fixed;

}

.main-nav {
  width: 100%;
  background: #E0BA8D;
  min-height: 10px;
  padding: 10px;
  position:relative;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}


.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .4s;
}
.nav a:hover {
  color: red;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #030202;
}
a:hover {
  color: #6633ff;
}


.main-image{
		border: solid 4px black;
		border-radius: 10%;
}

h1{
		background-color: #e2e2e2;
		padding: 5px;
}

.section-title{
		text-transform: capitalize;
}

.experience{

}


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}

footer {
  font-size: 1.3em;
  max-width: 1200px;
  margin: 40px auto;
}
